// colors
// #8593AE blue 
// #5A4E4D dark brown
// #7E675E light brown
// #DDA288 peach
body{
	background-color: #8593AE;
	font-family: 'Open Sans', sans-serif;
	// font-family: 'Quicksand', sans-serif;
}
header{
	font-family: 'Quicksand', sans-serif;
	color:white;
	font-size: 2em;
	text-align: center;
	height:200px;
	padding-top: 30px;
}

.main{
	display: flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	flex-flow: row;
}

.flex-contain{
	// border: solid 2px black;
	padding: 20px;
	width:44%;
	
}	
	
	p{	
		margin-left: auto;
		margin-right:auto;
		max-width: 600px;
		background-color: rgba(255,255,255,0.4);
		padding: 15px;
	}



// Cloudsssssss
.cloud-container{
	position:fixed;
	display: flex;
	flex-flow: row;
	-webkit-justify-content: space-between;
    justify-content: space-between;
	z-index: -1;
	top:0px;
	width:100%;
	height:100%;

}
.cloud {
	margin-left: auto;
	margin-right: auto;
	opacity:0.6;
	width: 200px; height: 60px;
	background: rgba(255,255,255,1);
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	z-index: -1;
	position: absolute; 
	background: rgba(255,255,255,1);
	width: 100px; height: 90px;
	top: -40px;
	left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}
.cloud:after {
	width: 120px;
	height: 120px;
	top: -60px;
	left: auto;
	right: 15px;
}
.l1{
	opacity: 0.8;
	width: 50%;
	padding-top: 80px;
	margin-left: -90px;
	.b{ margin-left: 100px; opacity: 0.8;}

}

// .l2{
// 	width: 50%;
// 	padding-top: 120px;
// 	margin-left: -200px;
// }
.r1{
	opacity: 0.9;
	width: 50%;
	padding-top: 80px;
	margin-right: -90px;
	.d{ margin-right:70px; margin-top:-15px;
	opacity: 0.8;}
}
// .r2{
// 	width: 40%;
// 	margin-right: -150px;
// }

//FOOOOOOOOTTER
footer{
	text-align: center;
	color:white;
	padding:50px;
	background-color: rgba(255,255,255,0.3);
	ul{
		padding:0px;
		list-style: none;
		a{
			text-decoration: none;
			color: rgba(255,255,255,0.5);
		}
		a:hover{
			color: rgba(255,255,255,1);
		}
		
	}
}


// Media Query 
@media only screen and (max-width:500px){
	
.main{
	flex-flow: column;
}	

main section{
	// width:90%;
}



}